@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Selenium Trash Collector</h1>
    <p class="lead">Here is a button for ASP.NET</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn about ASP.NET &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Customer Log In</h2>
        <p>
            Existing or New Users
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Account")">Log In &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Employee Log In</h2>
        <p>
            Employees log in here.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Account")">Log In &raquo;</a></p>
    </div>
</div>